@import "../../global.less";

@media screen and (min-width:414px)and (max-width: 1023px){
  .footer{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: @first-primary-color;
    //justify-content: space-between;
    padding: 30px;
    color: white;
    margin-top: auto;
    .footerCell{
     margin-bottom: @second-middle-primary-margin;
    }
  }
}

@media screen and (min-width: 1024px){
  .footer{
    width: 100vw;
    display: flex;
    height: auto;
    background-color: @first-primary-color;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
    margin-top: auto;
    .footerCell{
    }
  }
}

