
@import "../../global.less";
.container{
  height: calc(100vh - 70px - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  .noFound{
    .notFoundBtn{
      background-color: @first-primary-color;
      border: none;
      height: auto;
      border-radius: @button-border-radius;
      font-size: @second-primary-font-size;
    }

  }
}
